@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar entirely */
::-webkit-scrollbar {
    display: none;
}
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}


html[data-theme="dark"],
body[data-theme="dark"] {
    background-color: #0b0c14;
}

html[data-theme="light"],
body[data-theme="light"] {
    background-color: #faf7f1;
}